{%extends "layout.html"%}
{%block content%}
	<h1>Hej ziomek</h1><br>
	<div class="content-section">
		<form method="POST" action="#">
			{{form.hidden_tag()}}
			<div class="form-group">
			{{form.name.label(class="form-control-label")}}
			{{form.name(class="form-controle form-control-lg")}}
			</div>
			<div class="form-group">
			{{form.adresmac.label(class="form-control-label")}}
			{{form.adresmac(class="form-controle form-control-lg")}}
			</div>
			<div class="form-group">
			{{form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
{%endblock content%}
