{%extends "layout.html"%}
{%block content%}
	<h1>Change Username and Password</h1><br>
	<div class="content-section">
		<form method="POST" action="#">
			{{form.hidden_tag()}}
			<div class="form-group">
			{{form.username.label(class="form-control-label")}}
			{{form.username(class="form-controle form-control-lg")}}
			</div>
			<div class="form-group">
			{{form.newpassword.label(class="form-control-label")}}
			{{form.newpassword(class="form-controle form-control-lg")}}
			</div>
			<div class="form-group">
			{{form.confpassword.label(class="form-control-label")}}
			{{form.confpassword(class="form-controle form-control-lg")}}
			</div>
			<div class="form-group">
			{{form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
{%endblock content%}
