<!DECOTYPE html>
<html>
<head>
	{% if refresh %}
	<meta http-equiv="refresh" content="5"> 
	{%endif%}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href={{url_for('static',filename='css/bootstrap.min.css')}}>
	<title></title>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
	<div class = "container">
	{%with messages = get_flashed_messages(with_categories=true)%}
		{%if messages%}
			{%for category,msg in messages%}
			<div class="alert alert-{{category}}">
				{{msg}}
			</div>
			{%endfor%}
		{%endif%}
	{%endwith%}
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">SSAK</h5>
	{%if logged%}
	
      <nav class="my-2 my-md-0 mr-md-3">	
        <a class="p-2 text-dark" href={{url_for('home')}}>Home</a>
	<a class="p-2 text-dark" href={{url_for('about')}}>About</a>
        <a class="p-2 text-dark" href={{url_for('devices')}}>Devices</a>
        <a class="p-2 text-dark" href={{url_for('logs')}}>Logs</a>
	<a class="p-2 text-dark" href={{url_for('chpassword')}}>Change Username</a>
      </nav>
	<a class="btn btn-outline-primary" href={{url_for('logout')}}>
	Logout
	{%endif%}
	</a>
    </div>
	{%block content%}{%endblock%}
	</div>

<script src={{url_for('static',filename='js/jquery.min.js')}}></script>
<script src={{url_for('static',filename='js/pooper.min.js')}}></script>
<script src={{url_for('static',filename='js/bootstrap.min.js')}}></script>
</body>
</html>
